body {
  font-family: "Bradley Hand", cursive;
  background-image: url(cloud.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
}

header {
  justify-content: center;
  display: flex;
  position: relative;
  height: 200px;
}

#birds {
  position: fixed;
  height: 90%;
  width: 90%;
  top: 3em;
  left: 3em;
  right: 3em;
  box-sizing: border-box;
}

#birds .bird {
  position: absolute;
  width: 100px;
  text-align: center;
  padding: 1rem;
  cursor: grabbing;
}

#birds .bird[seen] {
  visibility: hidden;
}

.bird .emoji {
  font-size: 32px;
}

#birds .bird p {
  display: none;
  font-size: 0.6rem;
  margin: 0;
}

#filter {
  --bg-color: #fff;
  --main-color: #badfe7;
  position: absolute;
  bottom: 6px;
  width: 98%;
  height: 49px;
  background-color: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 40px;
  box-shadow: 4px 4px var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-option {
  flex-grow: 1;
  height: 92%;
  margin-right: 6px;
  margin-top: 20px;
  position: relative;
  z-index: 1;
}

.filter-option .submit-button {
  width: 20%;
}

.filter-input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  cursor: grabbing;
  opacity: 0;
}

.filter-input:checked + .button button {
  background-color: var(--main-color);
  opacity: 1;
  
}
#filter button {
  border: 0;
  background: none;
  font-family: "Bradley Hand", cursive;
  font-size: 18px;
  font-variant: small-caps;
  margin-bottom: 4px;
}

.filter-label {
  border: 0;
  border-radius: 40px;
  padding: 8px;
  cursor: grabbing;
  font-family: "Bradley Hand", cursive;
  font-size: 18px;
  font-variant: small-caps;
  position: relative;
  z-index: 2; 
}

.button {
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit {
  border: 0;
  background: none;
  font-family: "Bradley Hand", cursive;
  font-size: 18px;
  font-variant: small-caps;
  color: black;
  text-decoration: none;
  cursor: grabbing;
  text-align: center;
  margin-left: 50px;
}

.filter-input:checked + .filter-label {
  background-color: var(--main-color);
  color: white;
}

.filter-label:hover {
  background-color: var(--main-color);
  color: white;
}

.filter-input:checked + .button {
  background-color: var(--main-color);
}

.input:checked + .button {
  color: var(--font-color-light);
}

#look {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(cloud.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#look .bird {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(cloud.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}

#look .bird .emoji {
  font-size: 32px;
  margin-bottom: 10px;
}

#look .bird p {
  font-size: 1rem;
  margin: 0;
}

#look .bird button {
  margin-top: 10px;
  padding: 8px;
  background-color: #fff;
  border: none;
  border-radius: 40px;
  color: #badfe7;
  cursor: pointer;
  font-family: "Bradley Hand", cursive;
  font-size: 14px;
